*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}
 
header{
    margin: 0 auto;
    width: 650px;
}

h1{
    text-align: center;
    color: rgb(18, 6, 31);
}

main{
    text-align: center;
}

form{
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px black;
    border-radius: 1rem;
    background-color: aliceblue;
    display: grid;
}

label{
    text-align: center;
}

input, select, textarea{
    padding: 0.3rem;
}

input[type="submit"] {
    margin: 0.5rem;
    background-color: rgb(83, 133, 175);
    color: black;
    font-weight: bold;
    padding: .75rem;
    border-radius: .5rem;
    font-size: 1.0rem;
}

footer{
    text-align: center;
    border-top: 1px solid #ccc;
}